<div class="breadcrumbs">
	<% if current_user.admin %>
		ADMIN TOOLS
	<% else %>
		SETTINGS
	<% end %>
	<% if current_user %>
		<%= link_to destroy_user_session_path, method: :delete do %>
			<span class="cartNavButton">SIGNOUT</span>
		<% end %>
	<% end %>
</div>
<br>
<div class="adminContainer">

	<% if current_user.admin %>
		<%= link_to expiredsummary_path do %>
			<div class="adminButtons">
				EXPIRED SUMMARY
			</div>
		<% end %>
		<%= link_to cartsummary_path do %>
		  <div class="adminButtons">
		    CLAIMED SUMMARY
		  </div>
		<% end %>
		<%= link_to inventorysummary_path do %>
			<div class="adminButtons">
				INVENTORY SUMMARY
			</div>
		<% end %>
		<br>
		<%= link_to admin_users_path do %>
			<div class="adminButtons">
				MANAGE USERS
			</div>
		<% end %>
		<%= link_to admin_locations_path do %>
		  <div class="adminButtons">
		    MANAGE LOCATIONS
		  </div>
		<% end %>
		<%= link_to admin_categories_path do %>
		  <div class="adminButtons">
		    MANAGE CATEGORIES
		  </div>
		<% end %>
	<% else %>
		THANK YOU FOR YOUR SUPPORT.
	<% end %>
	
</div>
