<% content_for :title do %>
  Potluck
<% end %>

<% content_for :header_icon do %>
  <%= content_tag(:i, "", class: "zmdi zmdi-cutlery potluck-icon") %>
<% end %>

<% content_for :tabs do %>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <%= link_to "Categories", "#fixed-tab-1", class: "mdl-layout__tab is-active" %>
    <%= link_to "Locations", "#fixed-tab-2", class: "mdl-layout__tab is" %>
    <%= link_to "Use Soon", "#fixed-tab-3", class: "mdl-layout__tab is" %>
  </div>
<% end %>

<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
  <%= render "categories/index" %>
</section>

<section class="mdl-layout__tab-panel" id="fixed-tab-2">
  <%= render "locations/index" %>
</section>

<section class="mdl-layout__tab-panel" id="fixed-tab-3">
  <%= render "ingredients/expiring_soon" %>
</section>

<!-- Add New Box Button -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add-button link" data-location="<%= store_categories_path %>">
  <i class="material-icons">add</i>
</button>
