<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %>
</div>

<div class="rootButtonRack">

  <%= link_to lookup_item_ingredients_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>ITEM
    </div>
  <% end %>

  <%= link_to lookup_ingredients_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>BOX
    </div>
  <% end %>

  <%= link_to categories_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>CATEGORY
    </div>
  <% end %>

  <%= link_to ingredients_expiring_path do %>
    <div class="mainButton">
      <i class="fi-x-circle"></i><br>EXPIRING
    </div>
  <% end %>

</div>
