<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %>
</div>

<div class="rootButtonRack">

  <%= link_to lookup_ingredients_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>LOOKUP BOX
    </div>
  <% end %>

  <%= link_to categories_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>SEARCH CATEGORY
    </div>
  <% end %>

  <%= link_to locations_path do %>
    <div class="mainButton">
      <i class="fi-magnifying-glass"></i><br>SEARCH LOCATION
    </div>
  <% end %>

  <%= link_to ingredients_expiring_path do %>
    <div class="mainButton">
      <i class="fi-x-circle"></i><br>EXPIRING ITEMS
    </div>
  <% end %>

</div>
