<div class="breadcrumbs">
  <%= link_to @ingredient.name, @ingredient %> &gt;

  <%= link_to "Locations", relocate_ingredient_locations_path(@ingredient) %> &gt;

  <% @location.ancestors.each do |location| %>
    <%= link_to location.name, relocate_ingredient_location_path(@ingredient, location) %> &gt;
  <% end %>

  <%= @location.name.upcase %>
</div>

<ul class="mainUL">
  <% @sublocations.each do |location| %>
    <li>
      <%= hierarchy_link(location, :relocate, @ingredient, "button listButtons") %>
    </li>
  <% end %>
</ul>
