<ul class="breadcrumbs">
  <% if @location.parent != nil && @location.parent.parent != nil && @location.parent.parent.parent != nil%>
    <li class="crumbles"><%= @location.parent.parent.parent.name %></li>
  <% end %>
  <% if @location.parent != nil && @location.parent.parent != nil%>
    <li class="crumbles"><%= @location.parent.parent.name %></li>
  <% end %>
  <% if @location.parent != nil %>
    <li class="crumbles"><%= @location.parent.name %></li>
  <% end %>
    <li class="crumbles"><%= @location.name %></li>
    <span class="breadButtonRack">
      <%= link_to :back do %>
        <span class="cartBreadButton"><i class="fi fi-arrow-left"></i><br>BACK</span>
      <% end %>
    </span>
</ul>

<ul class="theList">
  <% @sublocations.each do |location| %>
    <li>
      <%= hierarchy_link(location, :relocate, @ingredient, "button listButtons") %>
    </li>
  <% end %>
</ul>
