<div class="breadcrumbs">
  <%= link_to "ADMIN TOOLS", admin_path %> &gt;
  EXPIRED SUMMARY
</div>

<% if @ingredients.where(expiration_date: Time.now - 14.day..Time.now.midnight + 1.day) %>
  <div class="ingredientUL">
    <table>
      <thead>
        <tr class="tableHeader">
          <th></th>
          <th></th>
          <th>CONDITION</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where(expiration_date: Time.now - 14.day..Time.now.midnight + 1.day).order('expiration_date ASC').each do |ingredient| %>
          <tr>
            <td>
              <%= link_to ingredient_path(ingredient) do %>
                  <strong><%= ingredient.name %></strong>
                <br>
                <span class="font80">BOX ID:  <%= ingredient.id %></span>
              <% end %>
            <br>
              <span class="breadcrumbsUL">
                <% if ingredient.location_id != nil %>
                  <%= ingredient.location.root.name %>
                  <% else %>
                    NO LOCATION
                <% end %>
              </span>
            </td>
            <td></td>
            <td class="tableCell noWrap">
              <% if ingredient.expiration_date != nil %>
                <% if ingredient.expiration_date.past? %>
                  <div class="expiredItem">EXPIRED</div>
                <% else %>
                  <div class="freshItem">FRESH</div>
                <% end %>
                <%= ingredient.expiration_date %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td class="tableCell">
              <%= link_to ingredient_path(ingredient, redirect_back: true), method: :delete, data: {confirm: "Are you sure?"} do %>
                <div class="trashCartButton pushRight">
                    <i class="fa fa-trash colorGray size-48"></i>
                </div >
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3><br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
