<% if @ingredients.where(expiring_at: Time.now - 14.day..Time.now.midnight + 1.day) %>
  <div class="ingredientTable">
    <table class="tableFontSize">
      <thead>
        <tr>
          <th width="130">NAME</th>
          <th>ITEM ID</th>
          <th width="100">CONDITION</th>
          <th>LOCATION</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where(expiring_at: Time.now - 14.day..Time.now.midnight + 1.day).each do |ingredient| %>
          <tr>
            <td class="tableCell"> <%= ingredient.name %></td>
            <td><%= ingredient.id %></td>
            <td class="tableCell">
              <% if ingredient.expiring_at != nil %>
                <% if ingredient.expiring_at.past? %>
                  <div class="expiredItem">EXPIRED</div>
                <% else %>
                  <div class="freshItem">FRESH</div>
                <% end %>
                <%= ingredient.expiring_at %>
              <% else %>
                N/A
              <% end %>
            </td>
              <% if ingredient.location_id != nil %>
                <td class="tableCell"> <%= ingredient.location.root.name %></td>
              <% else %>
                <td class="tableCell">NOT LOCATED</td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3><br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
<div class="bottomDescription">
  <p>Items will appear here if they have expired within the past 3 days or will expire in the next 3 days.</p>
</div>
<a href="javascript:history.back()" class="button bigBottomButtonRight"><br><br><i class="fi-arrow-left size-48"></i></a>
