<div class="breadcrumbs">
  <%= link_to "ADMIN TOOLS", admin_path %> &gt;

  INVENTORY SUMMARY
</div>

<% if @ingredients.where.not(:expiration_date => nil).any? %>
  <div class="ingredientUL">
    <table class="tableFontSize">
      <thead>
        <tr>
          <th>NAME</th>
          <th>ID</th>
          <th>CONDITION</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where.not(:expiration_date => nil).each do |ingredient| %>
          <tr>
            <td class="tableCell">
              <%= link_to ingredient_path(ingredient) do %>
                <strong><%= ingredient.name %></strong>
              <% end %>
            </td>
            <td><%= ingredient.id %></td>
            <td>
              <% if ingredient.expiration_date != nil %>
                <% if ingredient.expiration_date.future? %>
                  <div class="freshItem">FRESH</div>
                <% else %>
                  <div class="expiredItem">EXPIRED</div>
                <% end %>
              <% else %>
                N/A
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3><br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
