<ul class="breadcrumbs">
  <% if @food_item.parent != nil && @food_item.parent.parent != nil && @food_item.parent.parent.parent != nil%>
		<li class="crumbles"><%= @food_item.parent.parent.parent.name %></li>
	<% end %>
	<% if @food_item.parent != nil && @food_item.parent.parent != nil%>
		<li class="crumbles"><%= @food_item.parent.parent.name %></li>
	<% end %>
	<% if @food_item.parent != nil %>
		<li class="crumbles"><%= @food_item.parent.name %></li>
	<% end %>
    	<li class="crumbles"><strong><%= @food_item.name %></strong></li><br>
</ul>

<%= link_to add_with_location_store_ingredient_path(@food_item), method: :post do %>
  <button class="bigBottomButtonLeft">ADD LOCATION</button>
<% end %>

<%= link_to store_category_ingredients_path(@food_item), method: :post do %>
  <button class="bigBottomButtonRight">ADD W/O LOCATION</button>
<% end %>
