<ul class="breadcrumbs">
  <% if @food_item.parent != nil && @food_item.parent.parent != nil && @food_item.parent.parent.parent != nil%>
		<li class="crumbles"><%= @food_item.parent.parent.parent.name %></li>
	<% end %>
	<% if @food_item.parent != nil && @food_item.parent.parent != nil%>
		<li class="crumbles"><%= @food_item.parent.parent.name %></li>
	<% end %>
	<% if @food_item.parent != nil %>
		<li class="crumbles"><%= @food_item.parent.name %></li>
	<% end %>
    	<li class="crumbles"><strong><%= @food_item.name %></strong></li><br>
</ul>

<%= link_to add_with_location_store_ingredient_path(@food_item), method: :post do %>
  <button class="bigBottomButtonLeft">ADD LOCATION</button>
<% end %>

<!-- <div class="addButton">
	<%#= form_for [:store, @category, @ingredient], :html => {:class => "form"} do |f| %>
	  <span class="quantityLabel">QUANTITY</span>
	  <%#= f.number_field :quantity, :class => 'quantityField', cols: "30" %>
	  <%#= f.hidden_field :category_id, :value => @category.id %>
	  <%#= f.hidden_field :expiring_at, :value => @category.expiring_at %>
	  <%#= f.hidden_field :location_id, :value => nil %>
	  <%#= f.hidden_field :name, :value => @category.name %>
	  <%#= f.button :submit, :class => "button bigBottomButtonRight" do %>
      <i class="fi-plus size-48 yellowPlusButton"></i><br>COMMIT
	  <%# end %>
	<%# end %>
</div> -->

<br>

<%= link_to store_category_ingredients_path(@food_item), method: :post do %>
  <button class="bigBottomButtonRight">ADD W/O LOCATION</button>
<% end %>
