<div class="itemContainer">
    <h2 id="titleFade" class=""><%= @ingredient.name %></h2>
    <hr>
  <div id="locationFade" class="">
    <h6>LOCATION:</h6>
    <% if @ingredient.location_id != nil %>
      <% if @ingredient.location.parent != nil && @ingredient.location.parent.parent != nil && @ingredient.location.parent.parent.parent != nil%>
        <strong><%= @ingredient.location.parent.parent.parent.name %><br></strong>
      <% end %>
      <% if @ingredient.location.parent != nil && @ingredient.location.parent.parent != nil%>
        <strong><%= @ingredient.location.parent.parent.name %><br></strong>
      <% end %>
      <% if @ingredient.location.parent != nil %>
        <strong><%= @ingredient.location.parent.name %></strong><br>
      <% end %>
        <strong><%= @ingredient.location.name %></strong>
    <% else %>
      NOT SET
    <% end %><hr>
  </div>
  <div>
    <h6>CONDITION:</h6>
    <% if @ingredient.expiration_date != nil %>
      <% if @ingredient.expiration_date.future? %>
        <div class="freshItem">FRESH</div>
      <% else %>
        <div class="expiredItem">EXPIRED</div>
      <% end %>
        <strong><%= @ingredient.expiration_date %></strong>
    <% else %>
      N/A
    <% end %>
    <hr>
  </div>
  <div>
    <h6>QUANTITY:</h6><br>
      <strong><%= @ingredient.quantity %></strong><br>
  </div>
</div>

<%= link_to store_path do %>
  <button class="bigBottomButtonLeft">RELOCATE</button>
<% end %>

<%= link_to store_path do %>
  <button class="bigBottomButtonRight"> <i class="fi-home size-48"></i></button>
<% end %>
