<div class="lightbox-wrapper fade-in">

  <div class="lightboxLocated">
    <h5>You just added '<%= @ingredient.name %>'</h5>
    <p>Total Quantity: <%= Ingredient.count_all_locations(@ingredient) %></p>
    <p>'<%= @ingredient.name %>' at this location: <%= Ingredient.count_this_location(@ingredient) %>
    <br><br>
      <span class="littleBreadcrumbs">
        <% if @ingredient.location_id != nil %>
          <% if @ingredient.location.parent != nil && @ingredient.location.parent.parent != nil && @ingredient.location.parent.parent.parent != nil%>
            <strong><%= @ingredient.location.parent.parent.parent.name %> ></strong>
          <% end %>
          <% if @ingredient.location.parent != nil && @ingredient.location.parent.parent != nil%>
            <strong><%= @ingredient.location.parent.parent.name %> ></strong>
          <% end %>
          <% if @ingredient.location.parent != nil %>
            <strong><%= @ingredient.location.parent.name %> ></strong>
          <% end %>
            <strong><%= @ingredient.location.name %></strong>
          <% else %>
          NO LOCATION
        <% end %>
      </span>
      <hr>

    <%= link_to new_store_category_ingredient_path(@ingredient.category) do %>
      <div class="button highlightColor cartButton lightboxButtonLeft">
        <br><i class="fi-plus size-24 makeBlack"></i> <br>Another Without Location
      </div >
    <% end %>

    <%= link_to add_another_same_location_ingredient_path(@ingredient), method: :post do %>
      <div class="button highlightColor cartButton lightboxButtonRight">
        <br><i class="fi-plus size-24 makeBlack"></i><br>Another At This Location
      </div >
    <% end %>
    <p style="text-align: center;">Add Another</p><br>

    <%= link_to ingredient_path(@ingredient), class: "close-lightbox" do %>
        <button class="lightBoxClose"><i class="fi-x-circle size-36 makeBlack"></i></button>
    <% end %>
  </div>
</div>
