<div class="lightbox-wrapper">

  <div class="quick-links-lightbox">
    <% if flash[:notice] %>
      <h5 class="lightbox-flash fade-in fade-out">
        <%= flash[:notice] %>
      </h4>
    <% end %>

    <center>
      <h2 class="item-name"><%= @ingredient.name %></h2>

      <p class="lightbox-small">
        <% if @ingredient.location_id %>

          <% if @ingredient.location.parent &&
                @ingredient.location.parent.parent && @ingredient.location.parent.parent.parent %>
            <%= @ingredient.location.parent.parent.parent.name %> >
          <% end %>

          <% if @ingredient.location.parent && @ingredient.location.parent.parent %>
            <%= @ingredient.location.parent.parent.name %> >
          <% end %>

          <% if @ingredient.location.parent %>
            <%= @ingredient.location.parent.name %> >
          <% end %>

            <%= @ingredient.location.name %>

          <% else %>
            NO LOCATION
        <% end %>
      </p>

      <p class="lightbox-small">Expiring on
        <%= @ingredient.expiring_at.try(:strftime, "%A, %b, %d") %>
      </p>

    </center>

    <div class="circle-metrics">
      <div class="circle-wrapper fade-in">
        <div class="circle">
          <p>
            <%= Ingredient.count_all_locations(@ingredient) %>
          </p>
        </div>
        <p>All locations</p>
      </div>

      <div class="circle-wrapper fade-in">
        <div class="circle">
          <p>
            <% if count = Ingredient.count_this_location(@ingredient) %>
              <%= count %>
            <% else %>
              NA
            <% end %>
          </p>
        </div>
        <p>This location</p>
      </div>
    </div>

    <div class="quick-links">
      <ul>
        <% if @ingredient.location.class == NullLocation %>

          <li>
            <%= link_to "Store another, no location", add_another_same_location_ingredient_path(@ingredient), method: :post %>
          </li>

          <li>
            <%= link_to "Store another, different location", store_category_locations_path(@ingredient.category, hide_no_location_option: true) %>
          </li>
        <% else %>
          <li>
            <%= link_to add_another_same_location_ingredient_path(@ingredient), method: :post do %>
              <center>
                Store another here
              </center>
            <% end %>
          </li>

          <li>
            <%= link_to store_category_locations_path(@ingredient.category) do %>
              <center>
                Store another with changes
              </center>
            <% end %>
          </li>
        <% end %>

        <li>
          <%= link_to "Close", ingredient_path(@ingredient) %>
        </li>
      </ul>
    </div>
  </div>
</div>
