<!-- Square card -->
<style>
.demo-card-square.mdl-card {
  width: 250px;
  height: 250px;
}
.demo-card-square > .mdl-card__title {
  color: #666;
}
</style>

<% content_for :top_level_content do %>

  <% flash = nil %>

  <div class="backdrop"></div>

  <div class="demo-card-square mdl-card mdl-shadow--2dp absolutely-centered quick-links-lightbox">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Item added</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to "Store Another Here", add_another_same_location_ingredient_path(@ingredient), method: :post, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to "Store Another with Changes", store_category_locations_path(@ingredient.category), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to "Close", ingredient_path(@ingredient), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div>
  </div>
<% end %>


<% if false %>

<div class="lightbox-wrapper">

  <div class="quick-links-lightbox">
    <% if flash[:notice] %>
      <h5 class="lightbox-flash fade-in fade-out">
        <%= flash[:notice] %>
      </h4>
    <% end %>

    <center>
      <h2 class="item-name"><%= @ingredient.name %></h2>

      <p class="lightbox-small">Expiring on
        <%= @ingredient.expiration_date.try(:strftime, "%A, %b, %d") %>
      </p>

    </center>

    <div class="circle-metrics">
      <div class="circle-wrapper fade-in">
        <div class="circle">
          <p>
            <%= Ingredient.count_all_locations(@ingredient) %>
          </p>
        </div>
        <p>All locations</p>
      </div>

      <div class="circle-wrapper fade-in">
        <div class="circle">
          <p>
            <% if count = Ingredient.count_this_location(@ingredient) %>
              <%= count %>
            <% else %>
              NA
            <% end %>
          </p>
        </div>
        <p>This location</p>
      </div>
    </div>

    <div class="quick-links">
      <ul>
        <% if @ingredient.location.class == NullLocation %>

          <li>
            <%= link_to "Store another, no location", add_another_same_location_ingredient_path(@ingredient), method: :post %>
          </li>

          <li>
            <%= link_to "Store another, different location", store_category_locations_path(@ingredient.category, hide_no_location_option: true) %>
          </li>
        <% else %>
          <li>
            <%= link_to add_another_same_location_ingredient_path(@ingredient), method: :post do %>
              <center>
                Store another here
              </center>
            <% end %>
          </li>

          <li>
            <%= link_to store_category_locations_path(@ingredient.category) do %>
              <center>
                Store another with changes
              </center>
            <% end %>
          </li>
        <% end %>

        <li>
          <center>
            <%= link_to "Close", ingredient_path(@ingredient) %>
          </center>
        </li>
      </ul>
    </div>
  </div>
</div>

<% end %>
