<div class="lightbox-wrapper fade-in">

  <div class="lightboxUnlocated">
        <h5>You just added '<%= @ingredient.name %>'</h5>


    <p>Total Quantity:
      <span id="item-count">
        <%= Ingredient.count_all_locations(@ingredient) %>
      </span>
    </p>

    <p>Item was added without placing it in a location.</p>
    <hr>

    <%= link_to new_store_category_ingredient_path(@ingredient.category) do %>
      <div class="button highlightColor cartButton lightboxButtonLeft">
        <br><i class="fi-plus size-24 makeBlack"></i><br> Another With Location
      </div >
    <% end %>

    <%= link_to store_category_ingredients_path(@ingredient, category_id: @ingredient.category.id), method: :post do %>
      <div class="button highlightColor cartButton lightboxButtonRight">
        <br><i class="fi-plus size-24 makeBlack"></i><br>Another Without Location
      </div>
    <% end %>
    <p style="text-align: center;">Add Another</p><br>

    <%= link_to ingredient_path(@ingredient), class: "close-lightbox" do %>
        <span class="button lightBoxClose"><i class="fi-x-circle size-48 makeBlack"></i><br></span>
    <% end %>

  </div>
</div>
