<div class="lightbox-wrapper fade-in">

  <div class="lightbox">
    <%= link_to ingredient_path(@ingredient), class: "close-lightbox" do %>
      	<i class="fi-x-circle size-24 makeBlack pull-right"></i>
    <% end %>

    <hr>
    <h5>You just stored a new item: '<%= @ingredient.name %>'</h5>
    <p>Total #:
      <span id="item-count">
        <%= Ingredient.count_all_locations(@ingredient) %>
      </span>
    </p>
    <p>Item was added without placing it in a location.</p>
    <hr>

    <%= link_to new_store_category_ingredient_path(@ingredient.category) do %>
      <div class="button highlightColor cartButton lightboxButtonLeft">
        <br><i class="fi-plus size-24 makeBlack"></i><br>With Location
      </div >
    <% end %>

    <%= link_to store_category_ingredients_path(@ingredient, category_id: @ingredient.category.id), method: :post do %>
      <div class="button highlightColor cartButton lightboxButtonRight">
        <br><i class="fi-plus size-24 makeBlack"></i><br>Without Location
      </div>
    <% end %>
    <h4 style="text-align: center;">Add Another</h4><br>
  </div>
</div>
