<ul class="breadcrumbs">
<br>
  <li class="crumbles"><strong>MOVING: <%= @ingredient.name %></strong></li><br><br>
<br>
    <% if @location.parent != nil && @location.parent.parent != nil && @location.parent.parent.parent != nil%>
  <li class="crumbles"><%= @location.parent.parent.parent.name %></li><br><br>
  <% end %>
  <% if @location.parent != nil && @location.parent.parent != nil%>
  <li class="crumbles"><%= @location.parent.parent.name %></li><br><br>
  <% end %>
  <% if @location.parent != nil %>
  <li class="crumbles"><%= @location.parent.name %></li><br><br>
  <% end %>
    <li class="crumbles"><strong><%= @location.name %></strong></li><br><br>

</ul>

<ul class="theList">
  <% @sublocations.each do |location| %>
    <li>
      <% if location.children.any? %>
        <%= link_to edit_location_ingredient_path(location, @ingredient) do%>
          <span class="button listButtons">
            <%= location.name %>
          </span><br><br>
        <% end %>
      <% else %>
        <%= link_to edit_location_ingredient_path(location, @ingredient) do%>
          <span class="button listButtons">
             <%= location.name %>
          </span><br><br>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<a href="javascript:history.back()" class="btn fatButtonBackCommit"><i class="fi-arrow-left size-48"></i></a>

<div class="addButton">
	<%= form_for [@location, @ingredient] do |f| %>
	  <%= f.hidden_field :location_id, :value => @location.id %>
	  <br>
	  <%= f.button :submit, :class => "btn fatButtonSpecific" do %>
	  <i class="fi-map size-48 yellowPlusButton"></i>
	  <% end %>
	<% end %>
</div>

