<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">EXPIRING ITEMS</h1>
  <span class="breadButtonRack">
    		<input type="button" class="cartBreadButton backButton"   onclick="history.back(-1)" value="BACK"  />
  </span>
</ul>
<div class="ingredientTable">
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.where(expiration_date: Time.now - 3.day..Time.now + 2.day).each do |ingredient| %>
        <tr>
          <td>
            <%= link_to ingredient_path(ingredient) do %>
                <strong><%= ingredient.name %></strong>
              <br>
            <% end %><br>
            <span class="littleBreadcrumbs">
              <% if ingredient.location_id != nil %>
                <% if ingredient.location.parent != nil && ingredient.location.parent.parent != nil && ingredient.location.parent.parent.parent != nil%>
                  <strong><%= ingredient.location.parent.parent.parent.name %> ></strong>
                <% end %>
                <% if ingredient.location.parent != nil && ingredient.location.parent.parent != nil%>
                  <strong><%= ingredient.location.parent.parent.name %> ></strong>
                <% end %>
                <% if ingredient.location.parent != nil %>
                  <strong><%= ingredient.location.parent.name %> ></strong>
                <% end %>
                  <strong><%= ingredient.location.name %></strong>
                <% else %>
                  NO LOCATION
              <% end %>
            </span>
          </td>
          <td>
            <% if ingredient.expiration_date != nil %>
              <% if ingredient.expiration_date.future? %>
                <div class="freshItem">FRESH</div>
              <% else %>
                <div class="expiredItem">EXPIRED</div>
              <% end %>
                <%= ingredient.expiration_date %>
              <% else %>
                N/A
            <% end %>
          </td>
          <td>
            <%= link_to add_to_cart_path(ingredient), method: :post do %>
              <div class="shoppingCartButton">
                <i class="fi-shopping-cart size-48 makeBlack"></i>
              </div >
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
