<div class="ingredientTable">
  <table>
    <thead>
      <tr>
        <th width="200"></th>
        <th width="90"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td>
          <%= link_to ingredient_path(ingredient) do %>
            <div class="button highlightColor tableCell tableCellWidth" id="listButton">
              <%= ingredient.name %>
            </div >
          <% end %>
            <span>
              <% if ingredient.location_id != nil %>
                <% if ingredient.location.parent != nil && ingredient.location.parent.parent != nil && ingredient.location.parent.parent.parent != nil%>
                  <strong><%= ingredient.location.parent.parent.parent.name %> ></strong>
                <% end %>
                <% if ingredient.location.parent != nil && ingredient.location.parent.parent != nil%>
                  <strong><%= ingredient.location.parent.parent.name %> ></strong>
                <% end %>
                <% if ingredient.location.parent != nil %>
                  <strong><%= ingredient.location.parent.name %> ></strong>
                <% end %>
                  <strong><%= ingredient.location.name %></strong>
                <% else %>
                NOT SET
              <% end %>
            </span>
          </td>
          <td class="tableCell">
            <% if ingredient.expiring_at != nil %>
              <% if ingredient.expiring_at.future? %>
                <div class="freshItem">FRESH</div>
              <% else %>
                <div class="expiredItem">EXPIRED</div>
              <% end %>
              <%= ingredient.expiring_at %>
              <% else %>
                N/A
            <% end %>
          </td>
          <td>
            <%= link_to add_to_cart_path(ingredient), method: :post do %>
              <div class="button highlightColor cartButton" id="listButton">
                <i class="fi-shopping-cart size-24 makeBlack"></i>
              </div >
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
