<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %> &gt;
  <% if @location != nil %>
    <%= link_to "Locations", locations_path %> &gt;
    <% @location.ancestors.each do |location| %>
      <%= link_to location.name, location %> &gt;
    <% end %>
    <%= @location.name.upcase %>
  <% end %>
  <% if @category != nil %>
    <%= link_to "Categories", categories_path %> &gt;
    <% @category.ancestors.each do |category| %>
      <%= link_to category.name, category %> &gt;
    <% end %>
    <%= @category.name.upcase %>
  <% end %>
</div>
<% if @ingredients.any? %>
  <div class="ingredientUL">
    <table >
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
          <tr>
              <td>
                <%= link_to ingredient_path(ingredient) do %>
                  <strong><%= ingredient.name %></strong>
                  <br>
                <% end %>
                <span class="breadcrumbsUL">
                  <% if ingredient.location_id %>
                    <% if ingredient.location && ingredient.location.parent && ingredient.location.parent.parent && ingredient.location.parent.parent.parent %>
                      <strong><%= ingredient.location.parent.parent.parent.name %> ></strong>
                    <% end %>
                    <% if ingredient.location && ingredient.location.parent && ingredient.location.parent.parent %>
                      <strong><%= ingredient.location.parent.parent.name %> ></strong>
                    <% end %>
                    <% if ingredient.location && ingredient.location.parent %>
                      <strong><%= ingredient.location.parent.name %> ></strong>
                    <% end %>

                      <strong><%= ingredient.location.name %></strong>
                  <% else %>
                      NO LOCATION
                  <% end %>
                </span>
              </td>
              <td class="tableCell">
                <% if ingredient.expiration_date != nil %>
                  <% if ingredient.expiration_date.future? %>
                    <div class="freshItem">FRESH</div>
                  <% else %>
                    <div class="expiredItem">EXPIRED</div>
                  <% end %>
                  <%= ingredient.expiration_date %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td>
                <%= link_to add_to_cart_path(ingredient), method: :post do %>
                  <div class="shoppingCartButton">
                    <i class="fi-shopping-cart size-48 colorBlack"></i>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to prepare_path do %>

    <% end %>
<% else %>
  <a href="javascript:history.back()" class="highlightColor">
    <div class="arrangeReturn">
      <br><h3>NO ITEMS STORED</h3><br>
      <h5><strong>RETURN</strong></h5><i class="fi-arrow-left size-48"></i>
    </div>
  </a>
<% end %>
