<% content_for :title do %>
  Find by Category
<% end %>

<% content_for :header_icon do %>
  <%= header_link :back %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= breadcrumb_menu do %>
    <%= breadcrumb_link "Categories", root_path %>
    <%= ancestor_chain @resource, :store %>
    <%= page_name "#{@resource.name.pluralize(2)} (#{@ingredients.size})" %>
  <% end %>
<% end %>

<ul class="mdl-list">
	<% @ingredients.each do |ingredient| %>
		<li>
      <ul class="inner-link-list">
				<li class="add-item-row">
          <%= link_to ingredient.location.tree_format, ingredient_path(ingredient) %><br>
          <%= expiration_message(ingredient) %>
				</li>

        <li>
          <%= link_to "Add to cart", add_to_cart_path(ingredient), method: :post %>
        </li>
			</ul>
    </li>
	<% end %>
</ul>
