<% content_for :title do %>
  Find by Category
<% end %>

<% content_for :header_icon do %>
  <%= header_link :root %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= breadcrumb_menu do %>
    <%= breadcrumb_link "Categories", root_path %>
    <%= ancestor_chain @resource, :store %>
    <%= page_name "#{@resource.name} (#{@ingredients.size})" %>
  <% end %>
<% end %>

<ul class="mdl-list">
	<% @ingredients.each do |ingredient| %>
		<li>
      <ul class="inner-link-list">
				<li class="location-expiration-column">
          <% if ingredient.location.class == NullLocation %>
            <%= link_to "Unlocated", ingredient_path(ingredient), class: "item-location" %>
          <% else %>
            <%= link_to ingredient.location.tree_format, ingredient_path(ingredient), class: "item-location" %>
          <% end %>
          <br>
          <span class="expiration-message">
            <%= expiration_message(ingredient) %>
          </span>
				</li>

        <%= link_to add_to_cart_path(ingredient), class: "add-to-cart", method: :post do %>
          <button class="mdl-button mdl-js-button mdl-button--icon big-button mdl-button--colored">
            <i class="material-icons">add_shopping_cart</i>
          </button>
        <% end %>
			</ul>
    </li>
	<% end %>
</ul>
