<% content_for :title do %>
  Find by Category
<% end %>

<% content_for :header_icon do %>
  <%= header_link :root %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= breadcrumb_menu do %>
    <%= breadcrumb_link "Categories", root_path %>
    <%= ancestor_chain @resource, :store %>
    <%= page_name "#{@resource.name} (#{@ingredients.size})" %>
  <% end %>
<% end %>

<ul class="mdl-list">
	<% @ingredients.each do |ingredient| %>
		<li>
      <ul class="inner-link-list">
				<li class="location-expiration-column">
          <%= link_to ingredient.location.tree_format, ingredient_path(ingredient), class: "item-location" %><br>
          <span class="expiration-message">
            <%= expiration_message(ingredient) %>
          </span>
				</li>

        <li class="item-add">
          <%= link_to add_to_cart_path(ingredient), method: :post do %>
            <i class="material-icons">add_shopping_cart</i>
          <% end %>
        </li>
			</ul>
    </li>
	<% end %>
</ul>
