<div class="ingredientTable">
  <table >
    <thead>
      <tr>
        <th width="90">ITEM</th>
        <th width="30">ITEM ID</th>
        <th width="60">MOVED ON</th>
        <th>QUANTITY</th>
        <th width="30">CART</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td class="button tableCell mainColor"> <%= link_to ingredient.name, ingredient_path(ingredient)%> </td>
          <td > <%= ingredient.id %><br><br></td>
          <td class="tableCell"> <%= ingredient.formatted_time_update %></td>
          <td class="tableCell"> <%= ingredient.quantity %></td>

          <td>
            <%= link_to add_to_cart_path(ingredient), method: :post do %>
              <div class="btn">
                <i class="fi-shopping-cart size-24 makeBlack"></i>
              </div >
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
