<div class="ingredientTable">
  <table >
    <thead>
      <tr>
        <th width="120">ITEM</th>
        <th width="50">ITEM ID</th>
        <th width="80">MOVED ON</th>
        <th>LOCATION</th>
        <th width="30">CART</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td class="button tableCell highlightColor"> <%= link_to ingredient.name, ingredient_path(ingredient)%> </td>
          <td > <%= ingredient.id %><br><br></td>
          <td class="tableCell"> <%= ingredient.formatted_time_update %></td>
          <td class="tableCell"> <%= ingredient.location_id %></td>

          <td>
            <%= link_to add_to_cart_path(ingredient), method: :post do %>
              <div class="button highlightColor">
                <i class="fi-shopping-cart size-24 makeBlack"></i>
              </div >
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
