
<ul class="breadcrumbs">
<br>
<br>
      <% if @category.parent_id != nil %>
      <% if @category.parent_id != nil %>
  		<% @rootCat = @categories[@category.parent_id - 1].parent_id %>
  	  <% if @rootCat != nil %>
  		<% @baseCat = @categories[@rootCat - 1].parent_id%>
  		<% end %>
  	  <% if @baseCate != nil %>
  	  <% end %>
  		<li class="crumbles"><%= @categories[@baseCat - 1].name %></li><br><br>
  		
  	  <% if @rootCat != nil %>
  		<li class="crumbles"><%= @categories[@rootCat - 1].name %></li><br><br>
  	    <% end %>
        <% end %>
        <li class="crumbles"><%= @categories[@category.parent_id - 1].name %><a href="#"></a></li><br><br>
      <% end %>
      	<li class="crumbles"><%= @category.name %><a href="#"></a></li><br><br>
</ul>

<%= link_to categories_path do %>
  <button class="fatButtonSpecific btn">
    <span>ARRANGE</span>
  </button>
<% end %>

<div class="addButton">
	<%= form_for [@category, @ingredient] do |f| %>
	  <%= f.hidden_field :category_id, :value => @category.id %>
	  <%= f.hidden_field :name, :value => @category.name %>
	  <br>
	  <%= f.button :submit, :class => "btn fatButtonSpecific" do %>
	  <i class="fi-plus size-48"></i>
	  <% end %>
	<% end %>
</div>

