
<ul class="breadcrumbs">
<br>
<br>
    <% if @category.parent != nil && @category.parent.parent != nil && @category.parent.parent.parent != nil%>
	<li class="crumbles"><%= @category.parent.parent.parent.name %><a href="#"></a></li><br><br>
	<% end %>
	<% if @category.parent != nil && @category.parent.parent != nil%>
	<li class="crumbles"><%= @category.parent.parent.name %><a href="#"></a></li><br><br>
	<% end %>
	<% if @category.parent != nil %>
	<li class="crumbles"><%= @category.parent.name %><a href="#"></a></li><br><br>
	<% end %>
    <li class="crumbles"><%= @category.name %><a href="#"></a></li><br><br>
</ul>

<div class="arrangeButton">
	<%= link_to categories_path do %>
	  <button class="fatButtonSpecific btn">
	    <span>ARRANGE</span>
	  </button>
	<% end %>
</div>

<div class="addButton">
	<%= form_for [@category, @ingredient] do |f| %>
	  <%= f.hidden_field :category_id, :value => @category.id %>
	  <%= f.hidden_field :name, :value => @category.name %>
	  <br>
	  <%= f.button :submit, :class => "btn fatButtonSpecific" do %>
	  <i class="fi-plus size-48"></i>
	  <% end %>
	<% end %>
</div>

