<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">RECENTLY LOGGED ITEMS</h1>
  <span class="breadButtonRack">
    		<input type="button" class="cartBreadButton backButton"   onclick="history.back(-1)" value="BACK"  />
  </span>
</ul>
<% if @ingredients.where(created_at: (Time.now - 3.hour)..Time.now).any? %>
  <div class="ingredientTable">
    <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th>ITEM ID</th>
          <th>LOCATION</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where(created_at: (Time.now - 3.hour)..Time.now).each do |ingredient| %>
          <tr>
            <td>
              <%= link_to ingredient_path(ingredient) do %>
                <strong><%= ingredient.name %></strong>
              <% end %>
            </td>
            <td> <%= ingredient.id %></td>
              <% if ingredient.location_id != nil %>
                <td> <%= ingredient.location.root.name %></td>
              <% else %>
                <td>NOT LOCATED
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <%= link_to store_path do%>
    <button class="mainColor">
      <h3>ALL ITEMS PLACED</h3><br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
