<% if @ingredients.where(created_at: (Time.now - 3.hour)..Time.now).any? %>
  <div class="ingredientTable">
    <table class="tableFontSize">
      <thead>
        <tr>
          <th width="90">NAME</th>
          <th>EXPIRING ON</th>
          <th>LOCATION</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where(created_at: (Time.now - 3.hour)..Time.now).each do |ingredient| %>
          <tr>
            <td class="tableCell">
              <%= link_to ingredient_path(ingredient) do %>
                <div class="button highlightColor tableCell tableCellWidth" id="listButton">
                  <%= ingredient.name %>
                </div>
              <% end %>
            </td>
            <% if ingredient.expiring_at = nil %>
              N/A
            <% else %>
              <td class="tableCell"> <%= ingredient.expiring_at %></td>
            <% end %>
            <td class="tableCell"> <%= ingredient.location_id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3><br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
<div class="bottomDescription">
  <p>Items will appear here if they were created in the past 3 hours.</p>
</div>
<a href="javascript:history.back()" class="button bigBottomButtonRight"><br><br><i class="fi-arrow-left size-48"></i></a>
