<div class="breadcrumbs">
  <%= link_to "Storage", store_path %> &gt;

  RECENTLY LOGGED
</div>
<% if @ingredients.where(created_at: (Time.now - 3.hour)..Time.now).any? %>
  <div class="ingredientUL">
    <table>
      <thead>
        <tr class="tableHeader">
          <th></th>
          <th>LOCATION</th>
          <th>CREATED</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where(created_at: (Time.now - 3.hour)..Time.now).order('created_at DESC').each do |ingredient| %>
          <tr>
            <td>
              <%= link_to ingredient_path(ingredient) do %>
                  <strong><%= ingredient.name %></strong>
                <br>
                <span class="font80 noWrap">BOX ID:  <%= ingredient.id %></span>
              <% end %>
            </td>
            <td class="font80 noWrap">
              <% if ingredient.location_id != nil %>
                <%= ingredient.location.root.name %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td class=" font80 noWrap">
              <%= ingredient.formatted_created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <%= link_to store_path do%>
  <button class="mainColor arrangeReturn highlightColor">
    <br>
    <h3>NO RECENT ITEMS</h3>
    <br>
    <h5><strong>RETURN</strong></h5>
  </button>
  <% end %>
<% end %>
