
<ul class="breadcrumbs">
<br>
  <li class="crumbles"><strong>MOVING:<%= @ingredient.name %></strong></li><br>
</ul>

<ul class="theList">
  <% @locations.where(:parent_id => nil).each do |location| %>
    <li>
      <% if location.children.any? %>
        <%= link_to edit_location_ingredient_path(location, @ingredient) do%>
          <span class="button listButtons">
            <%= location.name %>
          </span><br>
        <% end %>
      <% else %>
        <%= link_to edit_location_ingredient_path(location, @ingredient) do%>
          <span class="button listButtons">
             <strong><%= location.name %></strong>
          </span>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<a href="javascript:history.back()" class="btn fatButtonBack"><i class="fi-arrow-left size-48"></i></a>

<% if @location = nil %>
	<%= link_to edit_ingredient_path(@ingredient) do %>
  		<button class="fatButton btn">
   			 ARRANGE
  		</button>
  		<% end %>
    <% else %>
<% end %>
