<div class="itemContainer">
    <span id="titleFade" class="">
      <h2><%= @ingredient.name %></h2> <small>ID: <%= @ingredient.id %></small>
      <hr>
    </span>
  <div id="locationFade" class="">
    <h6>LOCATION:</h6>
      <% if @ingredient.location_id != nil %>
        <% if @ingredient.location.parent != nil && @ingredient.location.parent.parent != nil && @ingredient.location.parent.parent.parent != nil%>
          <strong><%= @ingredient.location.parent.parent.parent.name %><br></strong>
        <% end %>
        <% if @ingredient.location.parent != nil && @ingredient.location.parent.parent != nil%>
          <strong><%= @ingredient.location.parent.parent.name %><br></strong>
        <% end %>
        <% if @ingredient.location.parent != nil %>
          <strong><%= @ingredient.location.parent.name %></strong><br>
        <% end %>
          <strong><%= @ingredient.location.name %></strong>
        <% else %>
          NOT SET
      <% end %><hr>
  </div>
  <div id="conditionFade" class="">
    <h6>CONDITION:</h6>
    <% if @ingredient.expiring_at != nil %>
      <% if @ingredient.expiring_at.future? %>
        <div class="freshItem">FRESH</div>
      <% else %>
        <div class="expiredItem">EXPIRED</div>
      <% end %>
        <strong><%= @ingredient.expiring_at %></strong>
    <% else %>
      N/A
    <% end %>
    <hr>
  </div>
  <div id="quantityFade" class="">
    <h6>TOTAL QUANTITY OF:   '<%= @ingredient.name %>'</h6>
      <strong>
        <span id="item-count">
          <%= Ingredient.count_all_locations(@ingredient) %>
        </span>
      </strong>
      <br>
  </div>
</div>

<%= link_to relocate_ingredient_locations_path(@ingredient) do %>
  <span class="button bigBottomButtonLeft"><br><i class="fi-marker size-48"></i><br>MOVE</span>
<% end %>

<%= link_to store_path do %>
  <span class="button bigBottomButtonRight"><br><i class="fi-check size-48"></i><br>DONE</span>
<% end %>

<% if @show_quick_add %>
  <%= render "quick_add_lightbox" %>
<% end %>

<%= link_to "Delete item", ingredient_path(@ingredient), method: :delete, data: {confirm: "Are you sure?"} %>
