<div class="breadcrumbs">
  ITEM SUMMARY
  <%= link_to relocate_ingredient_locations_path(@ingredient) do %>
    <div class="cartNavButton"><i class="fi-marker"></i>  MOVE</div>
  <% end %>

  <%= link_to ingredient_path(@ingredient), method: :delete, data: {confirm: "Are you sure?"} do %>
    <div class="cartNavButton"><i class="fi-trash"></i>  TRASH</div>
  <% end %>
</div>




<div class="itemContainer">
    <span>
      <h2><%= @ingredient.name %></h2> <p>ID: <%= @ingredient.id %></p>
    </span>
  <div>
    <h6>LOCATION:</h6>
      <% if @ingredient.location_id != nil %>
        <% if @ingredient.location.parent != nil && @ingredient.location.parent.parent != nil && @ingredient.location.parent.parent.parent != nil%>
          <strong><%= @ingredient.location.parent.parent.parent.name %><br></strong>
        <% end %>
        <% if @ingredient.location.parent != nil && @ingredient.location.parent.parent != nil%>
          <strong><%= @ingredient.location.parent.parent.name %><br></strong>
        <% end %>
        <% if @ingredient.location.parent != nil %>
          <strong><%= @ingredient.location.parent.name %></strong><br>
        <% end %>
          <strong><%= @ingredient.location.name %></strong>
        <% else %>
          <strong>NOT SET</strong>
      <% end %>
      <br><br>
  </div>
  <div>
    <h6>CONDITION:</h6>
    <% if @ingredient.expiration_date != nil %>
      <% if @ingredient.expiration_date.future? %>
        <div class="freshItem">FRESH</div>
      <% else %>
        <div class="expiredItem">EXPIRED</div>
      <% end %>
        <strong><%= @ingredient.expiration_date %></strong>
    <% else %>
      <strong>N/A</strong>
    <% end %>
    <br><br>
  </div>
  <div>
    <h6>TOTAL STOCK OF : <%= @ingredient.name %>  <strong><br><%= Ingredient.count_all_locations(@ingredient) %></strong></h6>
  </div>
</div>

<% if @show_quick_add %>
  <%= render "quick_add_lightbox" %>
<% end %>
