<div class="breadcrumbs">
  <%= link_to "Storage", store_path %> &gt;

  UNLOCATED ITEMS
</div>
<% if @ingredients.where(:location_id => nil).any? %>
  <div class="ingredientUL">
    <table>
      <thead>
        <tr class="tableHeader">
          <th></th>
          <th>CREATED</th>
          <th>SET</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where(:location_id => nil).order('created_at DESC').each do |ingredient| %>
          <tr>
            <td>
              <%= link_to ingredient_path(ingredient) do %>
                  <strong><%= ingredient.name %></strong>
                <br>
                <span class="font80 noWrap">BOX ID:  <%= ingredient.id %></span>
              <% end %>
            </td>
            <td class="font80 centerText">
              <%= ingredient.formatted_created_at %>
            </td>
            <td>
              <%= link_to relocate_ingredient_locations_path(ingredient) do %>
                <div class="locateButton"><i class="fi-marker colorGray size-48"></i></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3>
      <br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
