<div class="breadcrumbs">
  <%= link_to "Storage", store_path %> &gt;

  UNLOCATED ITEMS
</div>
<% if @ingredients.where(:location_id => nil).any? %>
  <div class="ingredientUL">
    <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th>BOX ID</th>
          <th>CREATED</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.where(:location_id => nil).order('created_at DESC').each do |ingredient| %>
          <tr>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.id %> </td>
            <td>
              <%= ingredient.formatted_created_at %>
            </td>
            <td>
              <%= link_to relocate_ingredient_locations_path(ingredient) do %>
                <div class="shoppingCartButton"><i class="fi-marker colorBlack size-48"></i></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= link_to store_path do%>
    <button class="mainColor arrangeReturn highlightColor">
      <h3>ALL ITEMS PLACED</h3>
      <br>
      <h5><strong>RETURN</strong></h5>
    </button>
  <% end %>
<% end %>
