<div class="breadcrumbs">
  <%= link_to "Storage", store_path %> &gt;

  <%= link_to "Categories", store_categories_path %> &gt;

  <% @category.ancestors.each do |category| %>
    <%= link_to category.name, store_category_path(category) %> &gt;
  <% end %>

  <%= link_to "Locations", store_category_locations_path(@category) %> &gt;

  <% @location.try(:ancestors).try(:each) do |location| %>
    <%= link_to location.name, store_category_location_path(@category, location) %> &gt;
  <% end %>

  SET EXPIRATION DATE
</div>

<div id="choose-expiration-wrapper">

  <% if @category.default_expiration %>
    <p>This item's default expiration date is

      <%= distance_of_time_in_words(DateTime.now, @category.default_expiration_date) %>

      from now. Click to change:</p>
  <% else %>
    <p> No Default Expiration Set
  <% end %>

  <%= form_for @ingredient do |f| %>
    <%= f.hidden_field :location_id, value: @location.try(:id) %>
    <%= f.hidden_field :category_id, value: @category.id %>
    <%= f.text_field :expiration_date, class: "datepicker", value: @category.default_expiration_date.strftime("%B %-e, %Y") %>
    <%= button_tag(type: "submit", class: "commitItemButton") do %>
      <i class="fi fi-plus"></i> CONFIRM
    <% end %>
  <% end %>
</div>
