<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">EXPIRATION DATE</h1>
  <span class="breadButtonRack">
		<%= link_to :back do %>
			<span class="cartBreadButton"><i class="fi fi-arrow-left"></i><br>BACK</span>
		<% end %>
	</span>
</ul>

When does this expire?


<%= form_for @ingredient do |f| %>
  <%= hidden_field_tag :location_id, @location.try(:id) %>
  <%= hidden_field_tag :category_id, @category.id %>

  <div>
    <%= f.radio_button :expiring_at, '2' %> 2 weeks
  </div>
  <div>
    <%= f.radio_button :expiring_at, '4' %> 1 month
  </div>
  <div>
    <%= f.radio_button :expiring_at, '8' %> 2 months
  </div>
  <div>
    <%= f.radio_button :expiring_at, '12' %> 3 months
  </div>
  <div>
    <%= f.radio_button :expiring_at, '24' %> 6 months
  </div>
  <div>
    <%= f.radio_button :expiring_at, '48' %> 1+ years
  </div>

  <%= f.submit %>
<% end %>
