<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">EXPIRATION DATE</h1>
  <span class="breadButtonRack">
		<%= link_to :back do %>
			<span class="cartBreadButton"><i class="fi fi-arrow-left"></i><br>BACK</span>
		<% end %>
	</span>
</ul>

<div id="choose-expiration-wrapper">

  <h2>Expiration date:</h2>

  <p>(The current value is the default expiration date for this item)</p>

  <%= form_for @ingredient do |f| %>
    <%= f.hidden_field :location_id, value: @location.try(:id) %>
    <%= f.hidden_field :category_id, value: @category.id %>

    <%= f.text_field :expiration_date, class: "datepicker" %>

    <%= submit_tag 'CREATE ITEM' %>
  <% end %>

</div>

<script>
  var $input = $(".datepicker").pickadate();

  var picker = $input.pickadate('picker');

  picker.set('select', [2015, 3, 20]);
</script>
