<% content_for :title do %>
  Location & Expiration for <%= @category.name %>
<% end %>

<% content_for :header_icon do %>
  <% if @category.try(:location) %>
    <%= header_link store_category_location_path(@category, @location) %>
  <% else %>
    <%= header_link store_category_locations_path(@category) %>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= breadcrumb_menu do %>
    <%= breadcrumb_link "Locations", store_category_locations_path(@category) %>
    <% if @location %>
      <%= ancestor_chain @location, @category, :store_in_location %>
      <%= breadcrumb_link @location.name, store_category_location_path(@category, @location.parent) %>
    <% end %>
    <%= page_name "Expiration Date for #{@category.name}" %>
  <% end %>
<% end %>

<div class="row expiration-wrapper">
  <div class="col-xs-8 col-xs-offset-2">
    <%= form_for @ingredient do |f| %>
      <%= f.hidden_field :location_id, value: @location.try(:id) %>
      <%= f.hidden_field :category_id, value: @category.id %>
      <%= f.text_field :expiration_date, class: "datepicker stretch" %>
      <%= f.submit "Add Item", class: "stretch ripple" %>
    <% end %>
  </div>
</div>
