<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">SELECT EXPIRATION DATE</h1>
  <span class="breadButtonRack">
				<input type="button" class="cartBreadButton backButton"   onclick="history.back(-1)" value="BACK"  />
	</span>
</ul>

<div id="choose-expiration-wrapper">

  <p>The current value is the default expiration date for this item</p>

  <%= form_for @ingredient do |f| %>
    <%= f.hidden_field :location_id, value: @location.try(:id) %>
    <%= f.hidden_field :category_id, value: @category.id %>
    <%= f.text_field :expiration_date, class: "datepicker", value: @category.default_expiration.strftime("%B %-e, %Y") %>
    <%= button_tag(type: "submit", class: "createIngredient") do %>
      <i class="fi fi-plus"></i> ADD ITEM
    <% end %>
  <% end %>
</div>
