<div class="cartTable">
  <table>
    <thead>
      <tr>
        <th>ITEM</th>
        <th>ID</th>
        <th>CONDITION</th>
        <th>CART</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr >
          <td><h5h6><%= cart_item.name %></h6><br><br>
            <span class="littleBreadcrumbs">
              <% if cart_item.location_id != nil %>
                  <%= cart_item.location.root.name %>
                <% else %>
                  NO LOCATION
              <% end %>
            </span>
          </td>
          <td><%= cart_item.id %></td>
            <td class="tableCell">
              <% if cart_item.expiring_at != nil %>
                <% if cart_item.expiring_at.future? %>
                  <div class="freshItem">FRESH</div>
                <% else %>
                  <div class="expiredItem">EXPIRED</div>
                <% end %>
                  <%= cart_item.expiring_at %>
              <% else %>
                N/A
              <% end %>
            </td>
          <td>
            <%= link_to remove_from_cart_path(cart_item), method: :post, action: :remove_from_cart do %>
            	<i class="fi-x-circle size-24 makeBlack" id="listButton"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="mainButtonRack">
  <%= link_to use_all_items_path, method: :post do %>
    <span class="mainButton">
      <i class="fa fa-spoon"></i><br>USE
    </span>
  <% end %>

  <%= link_to empty_cart_path, method: :post do %>
    <span class="mainButton">
      <i class="fa fa-cart-arrow-down"></i><br>EMPTY
    </span>
  <% end %>
</div>
