<div class="cartTable">
  <table >
    <thead>
      <tr>
        <th width="130">ITEM</th>
        <th width="60">ITEM ID</th>
        <th width="110">EXPIRING ON</th>
        <th width="40">CART</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><h5><%= cart_item.name %></h5>
            <span class="littleBreadcrumbs">
              <% if cart_item.location_id != nil %>
                <% if cart_item.location.parent != nil && cart_item.location.parent.parent != nil && cart_item.location.parent.parent.parent != nil%>
                  <strong><%= cart_item.location.parent.parent.parent.name %> ></strong>
                <% end %>
                <% if cart_item.location.parent != nil && cart_item.location.parent.parent != nil%>
                  <strong><%= cart_item.location.parent.parent.name %> ></strong>
                <% end %>
                <% if cart_item.location.parent != nil %>
                  <strong><%= cart_item.location.parent.name %> ></strong>
                <% end %>
                  <strong><%= cart_item.location.name %></strong>
                <% else %>
                NO LOCATION
              <% end %>
            </span>
          </td>
          <td><%= cart_item.id %></td>
            <td class="tableCell">
              <% if cart_item.expiring_at != nil %>
                <% if cart_item.expiring_at.future? %>
                  <div class="freshItem">FRESH</div>
                <% else %>
                  <div class="expiredItem">EXPIRED</div>
                <% end %>
                  <%= cart_item.expiring_at %>
              <% else %>
                N/A
              <% end %>
            </td>
          <td>
            <%= link_to remove_from_cart_path(cart_item), method: :post, action: :remove_from_cart do %>
            	<i class="fi-x-circle size-24 makeBlack" id="listButton"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to use_all_items_path, method: :post do %>
  <span class="button bigBottomButtonRight size-18">
    <br><i class="fa fa-spoon size-36"></i><br>USE
  </span>
<% end %>

<%= link_to empty_cart_path, method: :post do %>
  <span class="button bigBottomButtonLeft size-18">
    <br><i class="fa fa-cart-arrow-down size-36"></i><br>EMPTY
  </span>
<% end %>
