<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %> &gt;
  CART
  <%= link_to use_all_items_path, method: :post do %>
    <span class="cartNavButton">
      <i class="fa fa-spoon"></i>  USE
    </span>
  <% end %>
  <%= link_to empty_cart_path, method: :post do %>
    <span class="cartNavButton">
      <i class="fa fa-cart-arrow-down"></i>  EMPTY
    </span>
  <% end %>
</div>



<div class="cartUL">
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="font80">CONDITION</th>
        <th>REMOVE</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= link_to ingredient_path(cart_item) do %>
                <strong><%= cart_item.name %></strong>
              <br>
              <span class="font80">BOX ID:  <%= cart_item.id %></span>
            <% end %>
          <br>
            <span class="breadcrumbsUL">
              <% if cart_item.location_id != nil %>
                <%= cart_item.location.root.name %>
                <% else %>
                  NO LOCATION
              <% end %>
            </span>
          </td>
            <td class="tableCell">
              <% if cart_item.expiration_date != nil %>
                <% if cart_item.expiration_date.future? %>
                  <div class="freshItem">FRESH</div>
                <% else %>
                  <div class="expiredItem">EXPIRED</div>
                <% end %>
                  <%= cart_item.expiration_date %>
              <% else %>
                N/A
              <% end %>
            </td>
          <td>
            <%= link_to remove_from_cart_path(cart_item), method: :post, action: :remove_from_cart do %>
              <div class="shoppingCartButton">
            	  <i class="fa fa-remove colorGray size-48" id="listButton"></i>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
