<% content_for :title do %>
  Cart
<% end %>

<% content_for :header_icon do %>
  <%= header_link :back %>
<% end %>

<ul class="mdl-list">
	<% @cart_items.each do |cart_item| %>
		<li>
      <ul class="inner-link-list">
				<li class="location-expiration-column">
          <%= link_to cart_item.name, ingredient_path(cart_item), class: "item-location" %><br>
          <%= expiration_message(cart_item) %>
				</li>

        <%= link_to remove_from_cart_path(cart_item), class: "remove-from-cart", method: :post, action: :remove_from_cart do %>
        <button class="mdl-button mdl-js-button mdl-button--primary">
          Remove
        </button>
        <% end %>

			</ul>
    </li>
	<% end %>
</ul>

<% if current_user.cart.ingredients.any? %>
  <footer>
    <div class="row">
      <%= link_to use_all_items_path, method: :post, data: {confirm: "Please confirm: this will mark all items as 'used' and then reset the cart"} do %>
        <div class="col-xs-6">
          Use All
        </div>
      <% end %>

      <%= link_to empty_cart_path, method: :post, data: {confirm: "Please confirm: this will empty all contents from the cart."} do %>
        <div class="col-xs-6">
          Empty Cart
        </div>
      <% end %>
    </div>
  </footer>
<% end %>
