<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">CART</h1>
  <span class="breadButtonRack">
    <input type="button" class="cartBreadButton backButton" onclick="history.back(-1)" value="BACK"  />
    <%= link_to use_all_items_path, method: :post do %>
      <span class="cartBreadButton">
        <i class="fa fa-spoon"></i><br>USE
      </span>
    <% end %>
    <%= link_to empty_cart_path, method: :post do %>
      <span class="cartBreadButton">
        <i class="fa fa-cart-arrow-down"></i><br>EMPTY
      </span>
    <% end %>
  </span>
</ul>

<div class="cartTable">
  <table>
    <thead>
      <tr>
        <th>ITEM</th>
        <th>ID</th>
        <th>CONDITION</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= link_to ingredient_path(cart_item) do %>
              <%= cart_item.name %>
            <% end %>
            <span class="littleBreadcrumbs">
              <% if cart_item.location_id != nil %>
                  <%= cart_item.location.root.name %>
                <% else %>
                  NO LOCATION
              <% end %>
            </span>
          </td>
          <td><%= cart_item.id %></td>
            <td class="tableCell">
              <% if cart_item.expiring_at != nil %>
                <% if cart_item.expiring_at.future? %>
                  <div class="freshItem">FRESH</div>
                <% else %>
                  <div class="expiredItem">EXPIRED</div>
                <% end %>
                  <%= cart_item.expiring_at %>
              <% else %>
                N/A
              <% end %>
            </td>
          <td>
            <%= link_to remove_from_cart_path(cart_item), method: :post, action: :remove_from_cart do %>
              <div class="shoppingCartButton">
            	  <i class="fi-x-circle makeBlack size-48" id="listButton"></i>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
