<% content_for :title do %>
  Sign In
<% end %>

<% content_for :header_icon do %>
  <%= content_tag(:i, "", class: "zmdi zmdi-cutlery home-icon") %>
<% end %>

<div class="mdl-grid sign-in">

  <div class="mdl-cell mdl-cell--4-col-phone">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.input :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.input :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions btn-stretch ripple" data-ripple-color="#3f51b5">
        <%= f.button :submit, "Sign in", class: "btn-stretch mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
      </div>

    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>

<script>
  $("#user_email").val("admin@test.com");
  $("#user_password").val("123abc!!");
  // $("input[type='submit'], button").click(function(event) {
  //   event.preventDefault();
  // });
</script>
