<%= @category.parent.name if @category.parent %>

<%= form_for [:admin, @category] do |f| %>
  <%= f.hidden_field :parent_id %>

  <label>Category name:</label>
  <%= f.text_field :name %>

  <label>Default 'expires in' as days:</label>
  <%= f.number_field :default_expiration %>

  <%= f.submit "Save", :class => "button highlightColor" %>
<% end %>
