<% link_type ||= nil %>

<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %> &gt;
  <%= link_to "Categories", categories_path %> &gt;

  <% @category.ancestors.each do |category| %>
    <%= link_to category.name, category %> &gt;
  <% end %>

  <%= @category.name.upcase %>
</div>

<div class="itemContainer">
  <ul class="mainUL">
    <% @category.children.order(:name).each do |item| %>
      <li>
        <%= hierarchy_link(item, link_type, @food_category, "button listButtons") %>
      </li>
    <% end %>
  </ul>
</div>
