<% link_type ||= nil %>

<ul class="breadcrumbs">
<br>
    <% if @food_category.parent != nil && @food_category.parent.parent != nil && @food_category.parent.parent.parent != nil%>
	<li class="crumbles"><%= @food_category.parent.parent.parent.name %></li><br><br>
	<% end %>
	<% if @food_category.parent != nil && @food_category.parent.parent != nil%>
	<li class="crumbles"><%= @food_category.parent.parent.name %></li><br><br>
	<% end %>
	<% if @food_category.parent != nil %>
	<li class="crumbles"><%= @food_category.parent.name %></li><br><br>

	<% end %>
    <li class="crumbles"><%= @food_category.name %></li><br>
</ul>

<ul class="theList">
  <% @food_category_children.each do |item| %>
    <li>
      <%= hierarchy_link(item, link_type, @food_category, "button listButtons") %>
    </li>
  <% end %>
</ul>


<a href="javascript:history.back()" class="button bigBottomButtonRight"><br><br><i class="fi-arrow-left size-48"></i></a>
