<% content_for :title do %>
  Categories
<% end %>

<ul class="mdl-list">
	<% @category.children.each do |category| %>
		<li>

      <% if category.children.any? %>

        <%= link_to category_path(category) do %>
          <ul class="inner-link-list">
  					<li class="list-item-count">
  						<span class="circle">
  							<%= category.item_count %>
  						</span>
  					</li>
  					<li class="list-item-name">
  						<%= category.name %>
  					</li>
  				</ul>
        <% end %>

      <% else %>
        <%= link_to category_ingredients_path(category) do %>

          <ul class="inner-link-list">
  					<li class="list-item-count">
  						<span class="circle">
  							<%= category.item_count %>
  						</span>
  					</li>
  					<li class="list-item-name">
  						<%= category.name %>
  					</li>
  				</ul>
        <% end %>

      <% end %>
		</li>
	<% end %>
</ul>
