<% content_for :title do %>
  Find by Category
<% end %>

<% content_for :header_icon do %>
  <%= header_link :root %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= breadcrumb_menu do %>
    <%= breadcrumb_link "Categories", root_path, data: { 'no-turbolink' => true } %>
    <%= ancestor_chain @category %>
    <%= page_name @category.name %>
  <% end %>
<% end %>

<ul class="mdl-list">
	<% @category.children.each do |category| %>
		<li class="ripple" data-ripple-color="#3f51b5">

      <% if category.children.any? %>
        <%= link_to category_path(category) do %>
          <ul class="inner-link-list">
  					<li class="list-item-count">
  						<span class="circle">
  							<%= category.descendant_count %>
  						</span>
  					</li>
  					<li class="list-item-name">
  						<%= category.name %>
  					</li>
  				</ul>
        <% end %>

      <% else %>
        <%= link_to category_ingredients_path(category) do %>

          <ul class="inner-link-list">
  					<li class="list-item-count">
  						<span class="circle">
  							<%= category.descendant_count %>
  						</span>
  					</li>
  					<li class="list-item-name">
  						<%= category.name.pluralize(category.children) %>
  					</li>
  				</ul>
        <% end %>

      <% end %>
		</li>
	<% end %>
</ul>
