<ul class="breadcrumbs">
<br>
    <% if @category.parent != nil && @category.parent.parent != nil && @category.parent.parent.parent != nil%>
	<li class="crumbles"><%= @category.parent.parent.parent.name %></li><br><br>
	<% end %>
	<% if @category.parent != nil && @category.parent.parent != nil%>
	<li class="crumbles"><%= @category.parent.parent.name %></li><br><br>
	<% end %>
	<% if @category.parent != nil %>
	<li class="crumbles"><%= @category.parent.name %></li><br><br>
	<% end %>
    <li class="crumbles"><%= @category.name %></li><br>
</ul>

<ul class="theList">
  <% @items.each do |item| %>
    <li>
      <% if item.children.any? %>
      	<%= link_to category_path(item) do%>
	        <span class="button listButtons">
	          <%= item.name %>
	        </span><br>
        <% end %>
      <% else %>
        <%= link_to category_path(item) do%>
	        <span class="button listButtons">
	          <%= item.name %>
	        </span><br>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<a href="javascript:history.back()" class="btn fatButtonBack"><i class="fi-arrow-left size-48"></i></a>

<% if current_user.state == "store" %>
<%= link_to new_category_ingredient_path(@category) do%>
	<span class="button useAll">
		+
	</span><br>
<% end %>
<% end %>