<div class="breadcrumbs">
  <%= link_to "ADMIN TOOLS", admin_path %> &gt;
  <%= link_to "USERS", admin_users_path %> &gt;
  EDIT
</div>

<div class="adminControlContainer">
  <%= form_for [:admin, @user] do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "SAVE", :class => "managementButton" %>
  <% end %>
</div>
