<div class="breadcrumbs">
  <%= link_to "ADMIN TOOLS", admin_path %> &gt;
    <%= link_to new_admin_user_path do %>
      <div class="cartNavButton"><i class="fi-torso"></i>  NEW</div>
    <% end %>
  USERS
</div>
<div class="ingredientUL">
  <table>
    <thead>
      <tr>
        <th>EMAIL</th>
        <th>SIGN IN COUNT</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.sign_in_count %>
        </td>
      <% if current_user.admin? %>
        <td>
          <%= link_to "Edit", edit_admin_user_path(user) %>
        </td>
        <td>
          <%= link_to "Delete", admin_user_path(user), confirm: "Are you sure?", method: :delete unless user.admin? %>
        </td>
      <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
