<% content_for :title do %>
  Manage Users
<% end %>

<% content_for :header_icon do %>
  <%= header_link admin_path %>
<% end %>

<table class="mdl-data-table mdl-js-data-table stretch">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <%= user.email %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_user_path(user) unless user.admin %>
        </td>
        <td>
          <%= link_to "Delete", admin_user_path(user), data: { confirm: "Are you sure?" }, method: :delete unless user.admin %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to new_admin_user_path do %>
    <div class="mainButton"><i class="fi-torso"></i><br>NEW USER</div>
  <% end %>
<% end %>
