<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">USER MANAGEMENT</h1>
  <% if current_user.admin? %>
  <span class="breadButtonRack">
  		<input type="button" class="cartBreadButton"   onclick="history.back(-1)" value="Back"  />
    <%= link_to new_admin_user_path do %>
      <div class="cartBreadButton"><i class="fi-torso"></i><br>NEW USER</div>
    <% end %>
	</span>
  <% end %>
</ul>
<div class="ingredientTable">
  <table>
    <thead>
      <tr>
        <th>EMAIL</th>
        <th>SIGN IN COUNT</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.sign_in_count %>
        </td>
      <% if current_user.admin? %>
        <td>
          <%= link_to edit_admin_user_path(user) do %>
            <div class="">EDIT</div>
          <% end %>
        </td>
        <td>
          <%= link_to admin_user_path(user), confirm: "Are you sure?", method: :delete do %>
            <div class="">DELETE</div>
          <% end %>
        </td>
      <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
