<ul class="breadcrumbs">
  <h1 id="titleHeading" class="titleHeading">USER MANAGEMENT</h1>
</ul>
<div class="ingredientTable">
  <table>
    <thead>
      <tr>
        <th>EMAIL</th>
        <th>SIGN IN COUNT</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>

      <tr>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.sign_in_count %>
        </td>
      <% if current_user.admin? %>
        <%= link_to edit_admin_user_path(user) do %>
          <td>
            <div class="shoppingCartButton">EDIT</div>
          </td>
        <% end %>
        <%= link_to admin_user_path(user), confirm: "Are you sure?", method: :delete do %>
          <td>
            <div class="shoppingCartButton">DELETE</div>
          </td>
        <% end %>
      <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to new_admin_user_path do %>
  <div class="mainButton"><i class="fi-torso"></i><br>NEW USER</div>
<% end %>
