<% content_for :title do %>
  Location & Expiration for <%= @category.name %>
<% end %>

<% content_for :header_icon do %>
  <% if @category.parent %>
    <%= header_link store_category_path(@category.parent) %>
  <% else %>
    <%= header_link store_categories_path %>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= breadcrumb_menu do %>
    <%= page_name "Locations" %>
  <% end %>
<% end %>

<ul class="mdl-list">
  <li class="ripple" data-ripple-color="#3f51b5">
    <% unless @hide_no_location_option %>
      <%= link_to "Add without location", choose_expiration_store_category_path(@category), class: "button listButtons li-link" %>
    <% end %>
  </li>
  <% @locations.each do |location| %>
    <li class="ripple" data-ripple-color="#3f51b5">
      <%= link_to location.name, store_category_location_path(@category, location), class: "button listButtons li-link" %>
    </li>
  <% end %>
</ul>
