<ul class="breadcrumbs">
  <% if @location.parent != nil && @location.parent.parent != nil && @location.parent.parent.parent != nil%>
    <li class="crumbles"><%= @location.parent.parent.parent.name %></li>
  <% end %>
  <% if @location.parent != nil && @location.parent.parent != nil%>
    <li class="crumbles"><%= @location.parent.parent.name %></li>
  <% end %>
  <% if @location.parent != nil %>
    <li class="crumbles"><%= @location.parent.name %></li>
  <% end %>
    <li class="crumbles"><%= @location.name %></li>
</ul>

<ul class="theList">      
  <% @sublocations.each do |location| %>
    <li>
      <%= hierarchy_link(location, :place_in_location, @category, "button listButtons") %>
    </li>
  <% end %>
</ul>
