<div class="breadcrumbs">
  <%= link_to "Storage", store_path %> &gt;

  <%= link_to "Categories", store_categories_path %> &gt;

  <% @category.ancestors.each do |category| %>
    <%= link_to category.name, store_category_path(category) %> &gt;
  <% end %>

  <%= link_to "Locations", store_category_locations_path(@category) %> &gt;

  <% @location.ancestors.each do |location| %>
    <%= link_to location.name, store_category_location_path(@category, location) %> &gt;
  <% end %>

  <%= @location.name.upcase %>
</div>

<ul class="theList">
  <% @location.children.order(:name).each do |location| %>
    <li>
      <%= hierarchy_link(location, :place_in_location, @category, "button listButtons") %>
    </li>
  <% end %>
</ul>
