<% content_for :title do %>
  Location & Expiration for <%= @category.name %>
<% end %>

<% content_for :header_icon do %>
  <% if @category.parent %>
    <%= header_link store_category_path(@category.parent) %>
  <% else %>
    <%= header_link store_categories_path %>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= breadcrumb_menu do %>
    <%= breadcrumb_link "Locations", store_category_locations_path(@category) %>
    <%= ancestor_chain @location, @category, :store_in_location %>
    <%= page_name @location.name %>
  <% end %>
<% end %>

<ul class="mdl-list">
  <% @sublocations.each do |location| %>
    <li class="ripple" data-ripple-color="#3f51b5">
      <%= hierarchy_link(location, :place_in_location, @category, "button listButtons li-link") %>
    </li>
  <% end %>
</ul>
