<div class="breadcrumbs">
  <%= link_to "Prepare", prepare_path %> &gt;
  <%= link_to "Locations", locations_path %> &gt;

  <% @location.ancestors.each do |location| %>
    <%= link_to location.name, location %> &gt;
  <% end %>

  <%= @location.name.upcase %>
</div>


<ul class="theList">
  <% @location.children.order(:name).each do |location| %>
    <li>
      <%= hierarchy_link(location, :location, nil, "button listButtons") %>
    </li>
  <% end %>
</ul>
