<ul class="breadcrumbs">
<br>
<br>
  <% if @location.parent != nil && @location.parent.parent != nil && @location.parent.parent.parent != nil%>
  <li class="crumbles"><%= @location.parent.parent.parent.name %></li><br><br>
  <% end %>
  <% if @location.parent != nil && @location.parent.parent != nil%>
  <li class="crumbles"><%= @location.parent.parent.name %></li><br><br>
  <% end %>
  <% if @location.parent != nil %>
  <li class="crumbles"><%= @location.parent.name %></li><br><br>
  <% end %>
    <li class="crumbles"><%= @location.name %></li><br><br>
</ul>

<ul class="theList">
  <% @sublocations.each do |location| %>
    <li>
      <%= hierarchy_link(location, :location, @location, "button listButtons") %>
    </li>
  <% end %>
</ul>

<a href="javascript:history.back()" class="btn fatButtonBack"><i class="fi-arrow-left size-48"></i></a>
