<ul class="breadcrumbs">
  <% if @location.parent != nil && @location.parent.parent != nil && @location.parent.parent.parent != nil%>
    <li class="crumbles"><%= @location.parent.parent.parent.name %></li>
  <% end %>
  <% if @location.parent != nil && @location.parent.parent != nil%>
    <li class="crumbles"><%= @location.parent.parent.name %></li>
  <% end %>
  <% if @location.parent != nil %>
    <li class="crumbles"><%= @location.parent.name %></li>
  <% end %>
    <li class="crumbles"><%= @location.name %></i></li>
    <span class="breadButtonRack">
          <input type="button" class="cartBreadButton backButton"   onclick="history.back(-1)" value="BACK"  />
    </span>
</ul>

<ul class="theList">
  <% @location.children.order(:name).each do |location| %>
    <li>
      <%= hierarchy_link(location, :location, nil, "button listButtons") %>
    </li>
  <% end %>
</ul>
