<% content_for :title do %>
  Locations
<% end %>

<% content_for :header_icon do %>
  <%= header_link root_path %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= breadcrumb_menu do %>
    <%= breadcrumb_link "Locations", root_path %>
    <%= ancestor_chain @location %>
    <%= page_name @location.name %>
  <% end %>
<% end %>

<ul class="mdl-list">
	<% @sublocations.each do |location| %>
		<li>

      <% if location.children.any? %>

        <%= link_to location_path(location) do %>
          <ul class="inner-link-list">
  					<li class="list-item-count">
  						<span class="circle">
  							<%= location.ingredients_count %>
  						</span>
  					</li>
  					<li class="list-item-name">
  						<%= location.name %>
  					</li>
  				</ul>
        <% end %>

      <% else %>
        <%= link_to location_ingredients_path(location) do %>

          <ul class="inner-link-list">
  					<li class="list-item-count">
  						<span class="circle">
  							<%= location.ingredients_count %>
  						</span>
  					</li>
  					<li class="list-item-name">
  						<%= location.name %>
  					</li>
  				</ul>
        <% end %>

      <% end %>
		</li>
	<% end %>
</ul>
