<!DOCTYPE html>
<html>
<head>
  <title>Potluck in the Park</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="Documents/git repos/potlock/potluck/app/assets/stylesheets/foundation-icons/foundation-icons.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <div class="mobileBlock">
    <nav class="navbar">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fa fa-cube"></i>
        <% end %>

        <%= link_to prepare_path, class: "navbar-brand" do %>
          <i class="fa fa-spoon"></i>
        <% end %>

        <%= link_to cart_path, class: "navbar-brand" do %>
          <i class="fa fa-shopping-cart size-18"></i><%= current_user.cart.ingredients.count %>
        <% end %>
        <% if current_user %>

          <%= current_user.cart.ingredients.count %>

          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-user-times navbar-brand userLogin"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-user navbar-brand userLogin"></i>
          <% end %>
        <% end %>

      </div>
      <div class = "alertCenter" id="flash">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
