<!DOCTYPE html>
<html>
<head>
  <title>Potluck in the Park</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="Documents/git repos/potlock/potluck/app/assets/stylesheets/foundation-icons/foundation-icons.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <div class="mobileBlock">
    <nav class="navbar">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><i class="fa fa-cube"></i> STORE</i></a>
        <a href="/home/prepare" class="navbar-brand"><i class="fa fa-spoon"></i> PREPARE</i></a>

        <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %> | 
          <%= link_to "Cart (#{current_user.cart.ingredients.size})", cart_path %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>

      </div>
      <div class = "alertCenter" id="flash">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
