<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Potluck in the Park</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <div class="bodyBackgroundColor wrap">
        <nav class="navbar">
            <% if current_user != nil %>
              <% if current_user.admin %>
                <%= link_to admin_path do %>
                  <i class="fa fa-cog navbar-icon"></i>
                <% end %>
              <% end %>
            <% end %>
            <% if current_user && current_user.cart.ingredients.count > 0 %>
              <%= link_to cart_path do %>
                <i class="fa fa-shopping-cart size-18 navbar-icon">
                  <%= current_user.cart.ingredients.count %></i>
              <% end %>
            <% end %>
            <span class = "alertCenter" id="notify">
              <%= flash[:alert] %>
            </span>
            <% if current_user == nil %>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-spoon navbar-icon pull-right navbar-icon-right"></i>
              <% end %>
            <% else %>
              <%= link_to prepare_path do %>
                <i class="fa fa-spoon navbar-icon pull-right navbar-icon-right"></i>
              <% end %>
            <% end %>
            <%= link_to store_path do %>
              <i class="fa fa-cube navbar-icon pull-right navbar-icon-right"></i>
            <% end %>
        </nav>
          <%= yield %>
      </div>
  </body>
</html>
