<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Potluck in the Park</title>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink>

    <%= yield :top_level_content %>

    <% flash.each do |key, value| %>
      <div id="flash">
        <%= content_tag :div, value, class: "flash #{key}" %>
      </div>
    <% end %>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
        mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">

          <div class="main-icon">
            <%= yield :header_icon %>
          </div>

          <!-- Title -->
          <span class="mdl-layout-title">
            <%= yield :title %>
          </span>

          <div class="mdl-layout-spacer"></div>

          <nav class="mdl-navigation right-nav-wrapper">
            <% if user_signed_in? && !current_user.cart.empty? %>
              <%= link_to cart_path, id: "cart-link", class: "mdl-navigation__link" do %>
                <i class="material-icons cart mdl-badge" data-badge=<%= current_user.cart.ingredients.size %>>shopping_cart</i>
              <% end %>
            <% end %>

            <!-- show top right menu icon -->
            <% if current_user %>
              <%= render "shared/top_right_menu" %>
            <% end %>
          </nav>
        </div>

        <%= yield :tabs %>
        <%= yield :breadcrumbs %>

      </header>

      <main class="mdl-layout__content">

        <%= yield %>

      </main>

    </div>

    <script>
      setTimeout(function() {
          $('#breadcrumbs').scrollLeft(9999);
      }, 100);
    </script>

  </body>
</html>
